# Algod Instance
export ALGOD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export ALGOD_SERVER="http://localhost"
export ALGOD_PORT="4001"

export KMD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export KMD_SERVER="http://localhost"
export KMD_PORT="4002"

export INDEXER_TOKEN=""
export INDEXER_SERVER="http://localhost"
export INDEXER_PORT="8980"

# Creator account
export ADDR_CREATOR="EXWYCKUQXOSKGUU7RHTVFLNDVFPSDJRB5DABIA7I6BVHFYQD4CQJYZX3NA"
export MNEMONIC_CREATOR="survey iron pass ivory cheap common drive sword border fix woman phrase salon sausage tree trade film ticket confirm frame stem neglect used abstract jelly"

# ACC1
export ACC1_ADDR="R4VDREHBHVETKRPBZT6IDOQQL4FBHLBYQBQQJPIBXLTCVXYJX7Z5WLDSZY"
export ACC1_MNEMONIC="fix shoulder hollow shoe cash join sniff eager grit wheat defense primary bus vacuum east fun ankle carry parade option surprise pride inch above color"

# ACC2
export ACC2_ADDR="WRBVLPUHQZ5O2UIZAKYKKMOUSNPOFIL6ALUZQZLHBDUSIKXHAEEIELWBFQ"
export ACC2_MNEMONIC="jungle abstract develop win motion april emerge mirror cotton economy correct bread venture battle royal marriage jacket priority disorder type bring dove chalk above spoon"